.header {
    padding: 30px;
    text-align: center;
    background : black;
    color: white ;
    font-size: 20px;
}

.footer {
    padding: 15px;
    text-align: center;
    background: palevioletred;
}

table,tr,th,td {
    border: 1px dotted black;
    padding: 30px;
    margin-left:50p;
    text-align: center;
}